<!--<div class="shadow p-3 mb-5 bg-body rounded">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Emerville Landing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-fill w-100">
          <li class="nav-item">
            <a class="nav-link" href="#">CHARTER RATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RESERVATIONS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              OTHER SERVICES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FLEET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FISH REPORTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FISH COUNTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>-->

<nav class="navbar navbar-expand-md navbar-light bg-light" style="margin-bottom: 2rem;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Emerville</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/charter-rates">CHARTER RATES</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/reservations">RESERVATIONS</a>
        </li>
        <li routerLinkActive="active" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            OTHER SERVICES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/fleets">FLEET</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/fish-reports">FISH REPORTS</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/fish-counts">FISH COUNTS</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

