<div class="container-bg">
  <div class="container" style="background-color: white;">
    <br>
    <h2 class="text-center">About Fish Emeryville</h2>
    <p style="padding: 25px; text-align: justify">We specialize in providing fishing adventures in San Francisco Bay and
      outside the Golden Gate. We feature nine of the finest sport fishing boats in Northern California, all fully
      equipped
      to make your day enjoyable. Each boat features the latest and most advanced fish finding and navigation equipment
      available. We focus on making sure our anglers have the trip of a lifetime pursuing the wide range game fish that
      inhabit San Francisco Bay, the Bay Area coastline, and Gulf of the Farallon Islands. All boats and Captains meet
      U.S.
      Coast Guard standards and are certified for your safety. All boats have comfortable inside seating with tables and
      clean restrooms.

      Our Captains specialize in putting anglers on King Salmon, California Halibut, Striped Bass, Rockfish, Lingcod,
      and
      Dungeness Crab utilizing the most effective methods for locating and catching fish. Whether it's Live Bait
      drifting,
      trolling or mooching, all of our Captains are focused on getting you your limit! You can be assured you are
      fishing
      with the most knowledgeable fleet in the San Francisco Bay Area with the goal of making your trip a rewarding and
      safe
      adventure.

      Private Boat Charters and Special Events

      All of our boats offer a wide variety of charter options, customized to meet your needs. Whether it's a small,
      private
      occasion, or a larger Company recognition event, we can design a trip to fit most requests. Trip possibilities
      include: • Corporate Events and Recognition trips-for employee's or outside business relationships • Whale
      Watching
      and Pelagic Bird Observation • Weddings, Anniversaries and Family parties • Fleet Week and Fireworks • Historical
      Bay
      Tours • Photo Opportunities and Kayak shuttle • Open Water Swim support and Triathlon's • Church, School or youth
      group outings. Some attractions you may encounter on your trip: Alcatraz Island, Golden Gate Bridge, Treasure
      Island,
      Fisherman's Wharf, AT&T Park, SF-Oakland Bay Bridge, Angel Island, Alameda Naval Air Base, Pt. Bonita lighthouse,
      Pier
      39 and many, many more.

      Please don't hesitate to call the Sport fishing center for assistance custom designing your event! 510-652-3403
      ext.0
      to speak directly to an agent

      So, come aboard and look around our web site and then give us a call to begin your fishing adventure with Fish
      Emeryville!</p>

    <div class="row col-12">
      <div class="col-lg-8">
        <iframe style="border:0;width: 100%; height: 380px;"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBz6IVKHSenmjl8BfuV1S17q72JiEzTgF4&q=3310+Powell+Street,Emeryville+CA+94608"
                allowfullscreen>
        </iframe>
        <h3 style="margin-top: 20px; margin-right: 20px;">Directions:</h3>
        <a href="https://maps.app.goo.gl/8BNUgv5oYPHZ9TQGA">Click here for directions via Google Maps.</a>
      </div>
      <div class="col-lg-4">
        <img class="img-fluid img-thumbnail"
             src="https://www.fishemeryville.com/graphics/site/2021_110_0538_1811_map2021.JPG" alt="place holder">
        <h3 style="margin-top: 20px;">Address: </h3>
        <div class="fw-bold">Fish Emerville</div>
        <div>3310 Powell Street</div>
        <div>Emeryville, CA 94608</div>
        <br>
        <div><span class="fw-bold">Email: &nbsp;</span> <span class=>info@fishemryville.com</span></div>
        <div><span class="fw-bold">Phone: &nbsp;</span> <span>(510)652-3403</span></div>
        <div><span class="fw-bold">Hotline: &nbsp;</span> <span>(510)652-3474</span></div>
        <br>
        <br>
        <h3>Lodging:</h3>
        <div><a>Four Points by Sheraton</a> offers a discounted room rate for Fish Emeryville customers. Use the above
          link for a special discount!
        </div>
        <br>
        <div><span class="fw-bold">Hotel: &nbsp;</span> <span class=>info@fishemryville.com</span></div>
        <div><span class="fw-bold">Address: &nbsp;</span>
          <div style="display: inline-block; vertical-align: top;">
            1603 Powell St.
            <br>
            Emeryville, CA 94608
          </div>
        </div>
        <div><span class="fw-bold">Phone: &nbsp;</span> <span>(510)547-7888</span></div>
      </div>
    </div>
  </div>
</div>
