<div class="container-fluid bg-light">
  <div class="row col-12 text-center">
    <span style="margin: 20px;">
      <a href="reservations">RESERVATIONS</a>
      |
      <a href="fish-counts">FISH COUNTS</a>
      |
      <a href="fish-reports">REPORT</a>
      |
      <a href="charter-rates">CHARTER RATES</a>
      |
      <a href="fleets">OUR FLEET</a>
      |
      <a href="about">CONTACT</a>
    </span>
  </div>
  <div class="row col-12 text-center">
    <span class="fw-semibold" style="margin-left: 20px; margin-right: 20px; margin-bottom: 12px;">Fish Emerville - San Francisco Bay Area, CA USA Copyright &#169; 2024. All Rights Reserved.</span>
  </div>
</div>
