<form style="margin-top: 50px;" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label>First Name: </label>
    <input class="form-control" type="text" ngModel name="firstname" required #firstname="ngModel">
    <span *ngIf="firstname.invalid && firstname.touched">First name is not valid.</span>
  </div>
  <div class="form-group">
    <label>Last Name: </label>
    <input class="form-control" type="text" ngModel name="lastname" required #lastname="ngModel">
    <span *ngIf="lastname.invalid && lastname.touched">Last name is not valid.</span>
  </div>
  <div class="form-group">
    <label>Email: </label>
    <input class="form-control" type="email" ngModel name="email" required #email="ngModel">
    <span *ngIf="email.invalid && email.touched">Email is not valid.</span>
  </div>
  <div class="form-group">
    <label>Phone: </label>
    <input class="form-control" type="text" name="phone" ngModel required #phone="ngModel">
    <span *ngIf="phone.invalid && phone.touched">Message is not valid.</span>
  </div>
  <div class="form-group">
    <label>Message: </label>
    <input class="form-control" type="text" name="message" ngModel required #message="ngModel">
    <span *ngIf="message.invalid && message.touched">Message is not valid.</span>
  </div>
  <button style="margin-top: 30px;" class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>
