<div class="container-bg">
  <div class="container" style="background-color: white;">
    <div class="row col-12 g-0">
      <table style="margin-top: 30px;">
        <tr>
          <td colspan="4" style="text-align: center;">Fish Counts for December 31st, 2023</td>
        </tr>
        <tr class="border">
          <th class="border" style="text-align: center;">Boat</th>
          <th class="border" style="text-align: center;">Trip Type</th>
          <th class="border" style="text-align: center;">Anglers</th>
          <th class="border" style="text-align: center;">Fish Count</th>
        </tr>
        <tbody>
        <tr *ngFor="let fishCount of latestFishCount" class="border">
          <td class="border" style="text-align: center;"><span class="SFBoatName">{{ fishCount.boat }}</span></td>
          <td class="border" style="text-align: center;">{{ fishCount.tripType }}</td>
          <td class="border" style="text-align: center;">{{ fishCount.anglers }}</td>
          <td class="border" style="text-align: center;">
            <div *ngFor="let item of fishCount.count | keyvalue" class="d-inline-grid">{{ item.key | titlecase }}
              : {{ item.value }} &nbsp;
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- DEBUG: SELECT DATE_FORMAT(trips.date, '%M %d, %Y' ) as fishingdate, landings.landing,
  landings.landing_id, trips.trip_id, boats.boat_name, boats.boat_id, trips.trip_type_id,
  trips.AMPM, trips.anglers, fish.common_name, counts.released, landings.city, landings.state,
  counts.qty as caught, trip_types.name AS trip_type_name, landing_audio.audio_file, landing_species.nick_name,
  1 AS priority
FROM boats
  LEFT JOIN trips ON boats.boat_id=trips.boat_id
  LEFT JOIN counts ON trips.trip_id=counts.trip_id
  LEFT JOIN fish ON fish.fish_id=counts.fish_id
  LEFT JOIN trip_types ON trip_types.trip_type_id = trips.trip_type_id
  LEFT JOIN landings ON trips.landing_id = landings.landing_id
  LEFT JOIN landing_audio ON (landing_audio.landing_id=landings.landing_id AND landing_audio.date=trips.date)
  LEFT JOIN landing_species ON (landings.landing_id = landing_species.landing_id AND fish.fish_id = landing_species.fish_id)
WHERE FIND_IN_SET('29', boats.landing_ids) AND trips.date = '2023-12-31' AND trips.landing_id = '29'
ORDER BY trip_types.rank, trips.AMPM, boats.boat_name, counts.qty DESC, counts.released;;  -->
